- name: Dotfiles | Set common facts
  ansible.builtin.set_fact:
    repository_dir: "{{ playbook_dir | dirname }}"
    config_dir: "{{ ansible_env.HOME }}/.config"
  tags: dotfiles

- name: Dotfiles | Ensure .config directory exists in the user's home
  ansible.builtin.file:
    path: "{{ config_dir }}"
    state: directory
    mode: "0755"
  tags: dotfiles

- name: Dotfiles | Create vs code directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
  loop:
    - { path: "{{ ansible_env.HOME }}/.config/Code/User/" }
    - { path: "{{ ansible_env.HOME }}/.var/app/com.visualstudio.code/config/Code/User" }

- name: Dotfiles | Create symbolic links
  ansible.builtin.file:
    src: "{{ repository_dir }}/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - { src: "nvim", dest: "{{ config_dir }}/nvim" }
    - { src: "bash/bashrc", dest: "{{ ansible_env.HOME }}/.bashrc" }
    - { src: "bash/bashrc.d", dest: "{{ ansible_env.HOME }}/.bashrc.d" }
    - { src: "bat", dest: "{{ config_dir }}/bat" }
    - { src: "ghostty", dest: "{{ config_dir }}/ghostty" }
    - { src: "jetbrains/ideavimrc", dest: "{{ ansible_env.HOME }}/.ideavimrc" }
    - { src: "starship", dest: "{{ config_dir }}/starship" }
    - { src: "tmux", dest: "{{ config_dir }}/tmux" }
    - { src: "vscode/settings.json", dest: "{{ ansible_env.HOME }}/.config/Code/User/settings.json" }
    - { src: "vscode/keybindings.json", dest: "{{ ansible_env.HOME }}/.config/Code/User/keybindings.json" }
    - { src: "vscode/settings.json", dest: "{{ ansible_env.HOME }}/.var/app/com.visualstudio.code/config/Code/User/settings.json" }
    - { src: "vscode/keybindings.json", dest: "{{ ansible_env.HOME }}/.var/app/com.visualstudio.code/config/Code/User/keybindings.json" }
    - { src: "zed/keymap.json", dest: "{{ config_dir }}/zed/keymap.json" }
    - { src: "zed/settings.json", dest: "{{ config_dir }}/zed/settings.json" }
    - { src: "wezterm", dest: "{{ config_dir }}/wezterm" }
    - { src: "zellij", dest: "{{ config_dir }}/zellij" }
    - { src: "yazi", dest: "{{ config_dir }}/yazi" }
    - { src: "opencode", dest: "{{ config_dir }}/opencode" }
  tags: dotfiles

- name: Dotfiles | Run bat cache
  ansible.builtin.command:
    cmd: $HOME/.local/opt/bat/bat cache --build
  tags: dotfiles
